.Form-Container {
  background-color: #dddddd;
  color: black;
}

.Form {
  height: calc(100vh - 30px);
  overflow: scroll;
  padding: 20px;
}

.disclaimer {
  padding-bottom: 40px;
}

.Save-Button-Container {
  display: block;
  width: 250px;
  margin: 0 auto;
}
.Save-Button {
  width: 100px;
  margin: 0 10px;
}

.Form-Stanza-Container {
  margin: 10px 0;
  border: 1px grey solid;
  padding: 4px;
  border-radius: 4px;
}
