.Form-Container {
  background-color: lighten(#f4d5a1, 10);
  color: black;
  button {
    cursor: pointer;
  }
}

.Form {
  height: calc(100vh - 59px);
  overflow: scroll;
  padding: 20px;
}

.disclaimer {
  padding-bottom: 40px;
}

.Save-Button-Container {
  display: block;
  width: 280px;
  padding-bottom: 10px;
  margin: 0 auto;
  border-top: 1px dotted aliceblue;
}

.Save-Button {
  width: 72px;
  margin: 0 10px;
}

.Green-Button {
  background-color: skyblue;
  border-radius: 3px;
  border: 1px solid blue;

  &:hover {
    background-color: darken(skyblue, 10);
  }
}

.Form-Stanza-Container {
  margin: 10px 0;
  border: 1px #625ace solid;
  padding: 4px;
  border-radius: 4px;
  position: relative;
}

.secondary {
  background-color: red;
  border: none;
  border-radius: 3px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    background-color: darken(red, 10);
  }
}

.File-Upload {
  margin-left: 10px;
}

.blue {
  color: purple;
}
